body {background-color: rgb(204, 151, 97)}
img {border-radius: 25px}
h1, h2, h3, h4, figure {text-align:center}
ul {padding-left: 0; list-style-position: inside}


.centered {text-align:center}
.banner {
    width: 80%; 
    max-width: 500px;
    background-color: rgb(227, 192, 158);
    border-radius: 25px;
    margin-left: auto; 
    margin-right: auto;
    padding:20px;
        }
.welcome {
    width: 85%;
    max-width: 650px;
    background-color: rgb(227, 192, 158);
    border-radius: 25px;
    margin-left: auto; 
    margin-right: auto;
    padding:20px;
        }
.established {font-style: italic; text-align: center}
.bio {
    width: 90%;
    max-width: 800px;
    background-color: rgb(227, 192, 158);
    border-radius: 25px;
    margin-left: auto; 
    margin-right: auto;
    padding:20px;
    }

.contact {
    width: 90%;
    max-width: 400px;
    background-color: rgb(227, 192, 158);
    border-radius: 25px;
    margin-left: auto; 
    margin-right: auto;
    padding:20px;
}